@charset "shift_jis";

#container .return_btn{
    margin-top:12px;
    text-align:center;
    padding:4px 10px;
    font-weight:bold;
    border-top:solid 1px #ccc;
    border-bottom:solid 1px #999999;
    box-shadow: inset 0px 1px 1px #fff;
    -webkit-box-shadow: inset 0px 1px 1px #fff;
    background-color:#e0e0e0;
    background: -webkit-gradient( linear,  left top, left bottom, from(#fff), to(#e0e0e0));
}

#container .return_btn a{
    color:#666;
    text-decoration:none;
    font-size:13px;
    display:block;
    position:relative;
}

#container .return_btn a:after{
    font-size:12px;
    content:"<";
    position:absolute;
    left:20px;
    top: 2px;
    color:#666;
    background-color:#fff;
    padding:0px 3px;
    border:solid 1px #999;
    border-radius:3px;
    -webkit-border-radius:3px;
    line-height:100%;
}
